---
import SubTitle from "./atoms/Subtitle.astro";
import Section from "./atoms/Section.astro";
import { getCollection, render } from "astro:content";

const allCompanines = await getCollection("companies");

const companines = allCompanines.filter((item) => {
    return item.data.lang === Astro.currentLocale;
});

const companinesCollection = companines.sort((a, b) => {
    const aDate = new Date(a.data.start).getTime();
    const bDate = new Date(b.data.start).getTime();
    return bDate - aDate;
});

const title = Astro.currentLocale === "en" ? "Experience" : "Experiencia";
---

<Section>
    <SubTitle title={title} />
    <div id="border-projects" class="relative">
        {
            companinesCollection.map(async (item, index) => {
                const { Content } = await render(item);
                return (
                    <div class="expirence-grid-template">
                        <span class="h-2 w-2 rounded-full bg-yellow-300 mx-auto mt-2 border border-black z-10" />
                        <div class="expirence-description-grid-template">
                            <div>
                                <p class="text-yellow-500 dark:text-yellow-300 text-xl sm:text-2xl font-bold">
                                    {item.data.title}
                                </p>
                                <p class="text-xl my-1 font-bold">
                                    {item.data.company}
                                </p>
                                <p class="text-sm text-gray-500 dark:text-gray-400">
                                    {item.data.start} - {item.data.end}
                                </p>
                            </div>
                            <Content />
                        </div>
                    </div>
                );
            })
        }

        <span class="line" id="line"></span>
    </div>
    <script>
        import { animate, scroll } from "motion";

        const projectsContainer = document.getElementById("border-projects");

        const animation = animate(
            "#line",
            {
                height: ["100%", "50%", "0%"],
            },
            { ease: "linear" },
        );
        projectsContainer &&
            scroll(animation, {
                target: projectsContainer,
                offset: ["center start", "center center", "center end"],
            });

        window.addEventListener("astro:after-swap", () => {
            const projectsContainer =
                document.getElementById("border-projects");
            const animation = animate(
                "#line",
                {
                    height: ["100%", "50%", "0%"],
                },
                { ease: "linear" },
            );
            if (projectsContainer) {
                scroll(animation, {
                    target: projectsContainer,
                    offset: ["center start", "center center", "center end"],
                });
            }
        });
    </script>
</Section>
